<section ng-controller="ShoppingListsController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit ShoppingList</h1>
  </div>
  <div id="shoppinglistForms" class="col-md-12">
    <form name="shoppinglistForm" class="form-horizontal" ng-submit="update(shoppinglistForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title" style="font-weight: bold; font-size: 24px">Title</label>
          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="shoppinglistForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Shopping List title is required.</p>
        <label for="color" style="font-weight: bold; font-size: 24px">Font Color</label>
        <input name="color" type="text" minlength="7" maxlength="7" pattern="[#A-Fa-f0-9]{7}" value="" placeholder="Enter Hex value" ng-model="color" class="form-control" required>
        <div ng-messages="shoppinglistForm.color.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Proper hex code is required.</p>
        <label name="content">Items</label>
          <input class="form-control" type="text" name="content" id="content" ng-model="shoppinglist.content" ng-style="{color: shoppinglist.color}" placeholder="Item" maxlength="25">
          <select class="form-control" name="priority" id="priority" ng-model="priority">
              <option value="">Priority</option>
              <option value="High">Grab it now!</option>
              <option value="Medium">Need it soon</option>
              <option value="Low">It can wait</option>
          </select>
          <label name="notes">Notes</label>
          <input type="text" class="form-control" name="note" id="note" ng-model="shoppinglist.notes" ng-style="{color: shoppinglist.color}" placeholder="Note" maxlength="255" value= " ">
          <label name="purchased">Purchased?</label>
          <input type="checkbox" name="isChecked" ng-model="shoppinglist.isChecked">
          </div>
       
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
