<section ng-controller="ShoppingListsController" ng-init="find()">
  <div class="page-header">
    <h1>Shopping Lists</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="shoppinglist in shoppinglists" ui-sref="shoppinglists.view({shoppinglistId: shoppinglist._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="shoppinglist.created | date:'mediumDate' | shoppinglist.id"></span>
        by
        <span ng-bind="shoppinglist.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="shoppinglist.title"></h4>
      <p class="list-group-item-text" ng-bind="shoppinglist.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="shoppinglists.$resolved && !shopppinglists.length">
    No shopping lists yet, why don't you <a ui-sref="shoppinglists.create">create one</a>?
  </div>
</section>
